'body':
  'alt-cmd-n': 'birch-outliner:new-outline'

'outline-editor':
  # Platform Bindings
  'home': 'editor:move-to-first-character-of-line'
  'end': 'editor:move-to-end-of-screen-line'
  'shift-home': 'editor:select-to-first-character-of-line'
  'shift-end': 'editor:select-to-end-of-line'

  'ctrl-C': 'editor:copy-path'

  # Sublime Parity
  'tab': 'editor:indent'
  'enter': 'editor:newline'
  'shift-tab': 'editor:outdent-selected-rows'
  'ctrl-K': 'editor:delete-line'

  # Platform Bindings
  'alt-left': 'editor:move-to-beginning-of-word'
  'alt-right': 'editor:move-to-end-of-word'
  'alt-shift-left': 'editor:select-to-beginning-of-word'
  'alt-shift-right': 'editor:select-to-end-of-word'

  # Apple Specific
  'alt-up' : 'editor:move-paragraph-backward',
  'shift-alt-up' : 'editor:select-paragraph-backward',
  'alt-down' : 'editor:move-paragraph-forward',
  'shift-alt-down' : 'editor:select-paragraph-forward',

  'cmd-backspace': 'editor:delete-to-beginning-of-line'
  'cmd-shift-backspace': 'editor:delete-to-beginning-of-line'
  'cmd-delete': 'editor:delete-to-end-of-line'
  'ctrl-A': 'editor:select-to-first-character-of-line'
  'ctrl-E': 'editor:select-to-end-of-line'
  'cmd-left': 'editor:move-to-first-character-of-line'
  'cmd-right': 'editor:move-to-end-of-screen-line'
  'cmd-shift-left': 'editor:select-to-first-character-of-line'
  'cmd-shift-right': 'editor:select-to-end-of-line'
  'alt-backspace': 'editor:delete-to-beginning-of-word'
  'alt-delete': 'editor:delete-to-end-of-word'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-k': 'editor:cut-to-end-of-line'

  # Atom Specific
  'ctrl-W': 'editor:select-word'
  'cmd-<': 'editor:scroll-to-cursor'
  'alt-cmd-ctrl-f': 'editor:fold-selection'

  # Sublime Parity
  'cmd-a': 'core:select-all'
  'cmd-k cmd-u': 'editor:upper-case'
  'cmd-k cmd-l': 'editor:lower-case'
  'cmd-l': 'editor:select-line'
  'ctrl-t': 'editor:transpose'

  'cmd-enter': 'editor:newline-below'
  'cmd-shift-enter': 'editor:newline-above'
  'alt-enter': 'editor:newline'
  'shift-enter': 'editor:newline'
  'cmd-]': 'editor:indent-selected-rows'
  'cmd-[': 'editor:outdent-selected-rows'
  'ctrl-cmd-up': 'editor:move-line-up'
  'ctrl-cmd-down': 'editor:move-line-down'
  'ctrl-cmd-left' : 'editor:outdent-selected-rows'
  'ctrl-cmd-right' : 'editor:indent-selected-rows'

  'cmd-/': 'outline-editor:toggle-line-comments'
  'cmd-j': 'editor:join-lines'
  'cmd-D': 'editor:duplicate-lines'
  'cmd-L': 'editor:split-selections-into-lines'
  'ctrl-shift-up': 'editor:add-selection-above'
  'ctrl-shift-down': 'editor:add-selection-below'

  'cmd-alt-[': 'editor:fold-current-row'
  'cmd-alt-]': 'editor:unfold-current-row'
  'cmd-alt-{': 'editor:fold-all' # Atom Specific
  'cmd-alt-}': 'editor:unfold-all' # Atom Specific
  'cmd-k cmd-0': 'editor:unfold-all'
  'cmd-k cmd-1': 'editor:fold-at-indent-level-1'
  'cmd-k cmd-2': 'editor:fold-at-indent-level-2'
  'cmd-k cmd-3': 'editor:fold-at-indent-level-3'
  'cmd-k cmd-4': 'editor:fold-at-indent-level-4'
  'cmd-k cmd-5': 'editor:fold-at-indent-level-5'
  'cmd-k cmd-6': 'editor:fold-at-indent-level-6'
  'cmd-k cmd-7': 'editor:fold-at-indent-level-7'
  'cmd-k cmd-8': 'editor:fold-at-indent-level-8'
  'cmd-k cmd-9': 'editor:fold-at-indent-level-9'
  'cmd-.': 'outline-outline-editor:toggle-fold-items'

  'cmd-b' : 'outline-editor:toggle-bold'
  'cmd-i' : 'outline-editor:toggle-italic'
  'cmd-u' : 'outline-editor:toggle-underline'
  'cmd-k' : 'outline-editor:toggle-strikethrough'

  'cmd-d' : 'outline-outline-editor:toggle-done'

'outline-editor.itemMode':
  'right' : 'insertCaretAtEndOfLine',
  'left' : 'insertCaretAtBeginingOfLine',
  'i' : 'insertCaretAtBeginingOfLine',
  'a' : 'insertCaretAtEndOfLine',

  'o' : 'editor:newline',
  'O' : 'editor:newline-above',

  'f i' : 'outline-editor:hoist',
  'f o' : 'outline-editor:unhoist',

  '.' : 'outline-outline-editor:toggle-fold-items',

  'd' : 'outline-outline-editor:toggle-done'
