@import "prefixer";
@import "default-ui-variables";
@import "default-syntax-variables";

@syntax-selection-color: #a7caff;
@syntax-secondary-selection-color: #EDF4FF;
@syntax-cursor-color: #007aff;
@base-accent-color: @syntax-cursor-color;

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #db2ff4; // purple
@ui-site-color-5: #f5e11d; // yellow

@import "fonts.less";
@import "ui-variables";
@import "syntax-variables";

@import "../packages/status.less";
@import "../packages/tags.less";
@import "../packages/mentions.less";
@import "../packages/priorities.less";

@font-size: 16px;
@font-family: 'Open Sans', Helvetica;
@line-height: round(@font-size * 1.5);
@item-indent-spacing: round(@font-size * 1.5);
@item-vertical-spacing: round(@font-size / 4.0);
@item-badge-spacing: round(@line-height / 4);

outline-editor-toolbar {
  padding: @component-padding / 2;
  background: @tab-background-color-active;
  border-bottom: 1px solid  @pane-item-border-color;
  display: flex;
}

@hoist-animation-duration: 0.4s;
@search-button-width: @component-line-height + (@component-padding / 2.0);

outline-editor-search {
  flex-grow: 1;
  display: flex;
  position: relative;

  > button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 1px;
    width: @search-button-width;
    height: @component-line-height;
    line-height: @component-line-height;
    color: @text-color-subtle;

    &.unhoist {
      left: 0;
      width: 0;
      color: @input-background-color;
      background: @base-accent-color;
      border-top-right-radius: @component-border-radius;
      border-bottom-right-radius: @component-border-radius;
      transform: scaleX(-1);
      transition:width @hoist-animation-duration;
    }

    &.find {
      left: 0;
      transition:left @hoist-animation-duration;
    }

    &.cancel {
      right: 0;
    }
  }

  > atom-text-editor[mini] {
    flex-grow: 1;
    padding-left: @search-button-width;
    padding-right: @search-button-width;
    transition:padding-left @hoist-animation-duration;

    &,
    &::shadow {
      font-size: @input-font-size;
      font-family: @font-family;
      .source.itempath .string {
        color: @text-color;
      }
    }
  }

  &.hoisted {
    > button {
      &.unhoist {
        width: @search-button-width;
        transition:width @hoist-animation-duration;
      }
      &.find {
        left: @search-button-width;
        transition:left @hoist-animation-duration;
      }
    }
    > atom-text-editor[mini] {
      padding-left: @search-button-width * 2;
      transition:padding-left @hoist-animation-duration;
    }
  }
}

birch-outline-editor {
  display: block;
  color: @syntax-text-color;
  background-color: @syntax-background-color;
  font-family: @font-family;
  font-size: @font-size;
  line-height: @line-height;
  overflow-y: auto;
  overflow-x: hidden;
  .user-select(none);
  width: 100%;
  height: 100%;
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

#birchTextCalculationIFrame {
  position: absolute;
  left:-9999px;
}

input[is="outline-editor-focus"] {
  position: fixed;
  width:1px;
  height:1px;
  color: transparent;
  background: none;
  border:none;
  margin:0;
  padding:0;
  pointer-events: none;
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

birch-outline-editor > ul.background-message {
  margin: 1em;
  line-height: 1em;
}

birch-outline-editor > ul.top-item-list {
  cursor: text;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.bhoistedItem {
  margin: round(@line-height / 2);
  > .bbranchcontrols {
    display: none;
  }
  > .bbranch > .bitemcontent {
    display: none;
  }
}

#Birch.bhoistedItem > .bbranch > .bitemcontent::before {
  display: none;
}

//
// Structure
//

.bitem {
  display:flex;
  flex-direction: row;
}

.bbranchcontrols {
  .user-select(none);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.bhandle {
  cursor: pointer;
  pointer-events: all;
  line-height: @line-height;
  font-size: @font-size;
  text-decoration:none;
  flex-grow: 0;
  padding: @item-vertical-spacing 0;
  color: @syntax-text-color;
}

.bhandle:hover {
  color: @syntax-text-color;
}

@handleImage: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg"><g><circle fill="@{syntax-text-color}" cx="12px" cy="12px" r="2.5px" /></g></svg>');
@expandableHandleBackgroundColor: fade(@syntax-text-color, 15%);
@expandableHandleBackgroundImage: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg"><g><circle fill="@{expandableHandleBackgroundColor}" cx="12px" cy="12px" r="8px" /></g></svg>');
//@expandableHandleBackgroundImage: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg"><g><polygon fill="red" points="14,20 20,20 20,14 14,20"/></g></svg>');


.bhandle:before {
  display: inline-block;
  width: @item-indent-spacing;
  font-weight: normal;
  content: '•';
}

.bhasChildren:not(.bexpanded) > .bbranchcontrols > .bhandle:before {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: @line-height;
  background-image: @expandableHandleBackgroundImage;
}

.bborder {
  flex-grow: 1;
}

.bexpanded > .bbranchcontrols > .bborder {
  border-left: 1px dotted @syntax-indent-guide-color;
}

.bbranch {
  flex-grow: 1;
}

.bitemcontent {
  line-height: @line-height;
  margin: 0;
  padding: @item-vertical-spacing 0;
  //display: inline-block;
  //min-width: 1px; // So cursor will display when empty since inline-block
}

.bbodytext {
  .user-select(text);
  .user-modify(read-write);
  white-space: pre-wrap;
  margin-right: @item-badge-spacing;
  a {
    color: @syntax-text-color;
    text-decoration: underline;
  }
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

.bchildren {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

//
// Badges
//

.bbadges {
  display: inline-block;
  vertical-align: baseline;
  font-size: round(@font-size * 0.7);
  line-height: round(@line-height * 0.7);
}

.bbadge {
  display: inline-block;
  vertical-align: baseline;
  padding: 0px 2px;
  border-radius: 2px;
  margin-right: @item-badge-spacing;
  color: @syntax-background-color;
  background: @syntax-invisible-character-color;
  text-decoration:none;
  &:hover {
    color: @syntax-background-color;
    text-decoration: none;
  }
}

.bduration {
  &:before {
    content: "Timer";
  }
}

.bdue {
  &:before {
    content: "Alarm";
  }
}

//
// Selection
//

::selection {
  // http://stackoverflow.com/questions/14970891/css-selection-color-behaving-strangely-on-chrome
  background-color: fade(@syntax-selection-color, 99%);
}

.styledTextCaret {
  pointer-events: none;
  background: @syntax-cursor-color;
}

.bitemselected {
  > .bbranch {
    background: mix(@syntax-selection-color, @syntax-background-color, 35%);
    > .bitemcontent {
      background-color: @syntax-selection-color;
      *::selection {
        background-color: transparent;
      }
    }
  }
}

.btextselected > .bbranch > .bitemcontent {
  background-color: transparent;
}

.bsimulatedSelectionCursor {
  background-color: @syntax-text-color;
}

.bsimulatedSelection {
  background-color: @syntax-selection-color;
}

//
// Drag and Drop
//

.bdropbefore > .bbranch > .bitemcontent,
.bdropafter > .bbranch > .bitemcontent {
  position: relative;
}

@drop-ball-radius: round(@font-size / 4);
@drop-ball-diameter: round(@drop-ball-radius * 2.0);

.bdropbefore > .bbranch > .bitemcontent::before,
.bdropafter > .bbranch > .bitemcontent::after {
  pointer-events: none;
  display:block;
  position: absolute;
  left: 0;
  right: 0;
  height: @drop-ball-diameter;
  margin: -(@drop-ball-radius + @item-vertical-spacing) 0 0 -@drop-ball-diameter;
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg width="10000rem" height="0.5rem" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g id="dropIndicator"><circle fill="none" stroke="@{syntax-cursor-color}" stroke-width="2" cx="4" cy="4" r="3.0" /><line fill="none" stroke="@{syntax-cursor-color}" stroke-width="2" x1="7" y1="4" x2="10000" y2="4" /></g></svg>');
  background-repeat: no-repeat;
}

.bdropafter > .bbranch > .bitemcontent::after {
  margin: -@drop-ball-radius + @item-vertical-spacing 0 0 -@drop-ball-diameter;
}

//
// UI Styling, move this out of core?
//

birch-link-editor {
  .buttonRow {
    text-align: right;
  }

  button {
    min-width: 100px;
    text-align: right
  }
}