//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);




// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";
//@import "atom://static/variables/ui-variables";

@fontFamily: 'Open Sans', Helvetica;
@fontSize: 16px;
@lineHeight: @fontSize * 1.5;

@itemPadding: @fontSize / 4.0;
@gutterWidthPerLevel: @fontSize * 1.5;

::selection {
  // fade is to work around
  // http://stackoverflow.com/questions/14970891/css-selection-color-behaving-strangely-on-chrome
  background-color: fade(@syntax-selection-color, 99%);
}

#textIteratorIFrame {
  position: absolute;
  left:-999em;
}

birch-outline-editor {
  cursor: text;
  color: @syntax-text-color;
  background-color: @syntax-background-color;
  font-family: @fontFamily;
  font-size: @fontSize;
  line-height: @lineHeight;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}

input[is="outline-editor-focus"] {
  position: fixed;
  width:1px;
  height:1px;
  color: transparent;
  background: none;
  border:none;
  margin:0;
  padding:0;
  pointer-events: none;
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

birch-outline-editor > ul {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.bitem.bhoistedItem {
  > .bcontent {
    display: none;
  }
  margin: @gutterWidthPerLevel 0;
}

//
// Item
//

.bitem {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bchildren {
  margin: 0;
  padding: 0;
//	padding-left: @gutterWidthPerLevel / 2.0;
//	margin-left: @gutterWidthPerLevel / 2.0;
//	border-left: 1px dashed mix(@syntax-text-color, @syntax-background-color, percentage(0.1));
}

//.bitem[level="0"] > .bchildren {
//	padding-left: 0;
//	margin-left: 0;
//	border-left: none;
//}

.bcontent {
  display: flex;
  margin-right: @gutterWidthPerLevel;
}

.bgutter {
  flex: 0 0 auto;
  display: flex;
  padding-top: @itemPadding;
  align-items: flex-start;
  justify-content: flex-end;
}

.generate-gutter-levels(@n, @i: 0) when (@i =< @n) {
  .bitem[data-level="@{i}"] {
    > .bcontent > .bgutter {
      flex-basis: (@gutterWidthPerLevel * @i);
    }
  }

  /*.bselectedItem[level="@{i}"] > .bcontent > .bbody::after {
    pointer-events: none;
    position: absolute;
    background: @syntax-selection-color;
    top: -@itemMargin / 2.0;
    bottom: -@itemMargin / 2.0;
    left: @gutterWidthPerLevel * @i;
    right: 0;
    z-index: 1;
    content: '';
  }

  .bselectedItemWithTextSelection[level="@{i}"] > .bcontent > .bbody::after {
    content: none;
  }

  .bselectedItem[level="@{i}"] > .bchildren::after {
    pointer-events: none;
    position: absolute;
    background: @secondarySelectionColor;
    top: -@itemMargin / 2.0;
    bottom: -@itemMargin / 2.0;
    left: @gutterWidthPerLevel * @i;
    right: @gutterWidthPerLevel;
    z-index: 0;
    content: '';
  }

  .bselectedItemWithTextSelection[level="@{i}"] > .bchildren::after {
    content: none;
  }*/
  .generate-gutter-levels(@n, (@i + 1));
}
.generate-gutter-levels(20);

.bbody {
  color: @syntax-text-color;
  flex: 1 1 auto;
  display: inline;
  user-select: text;
  line-height: @lineHeight;
  white-space: pre-wrap;
  padding: @itemPadding 0;
  margin: 0;
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

//
// Selection
//

.bselectedItem > .bcontent > .bbody {
  background-color: @syntax-selection-color;
}

.bselectedItem:not(.bselectedItemWithTextSelection) > .bcontent *::selection {
  background-color: transparent;
}

.bselectedItemWithTextSelection > .bcontent > .bbody {
  background-color: transparent;
}

.bsimulatedSelectionCursor {
  background-color: @syntax-text-color;
}

.bsimulatedSelection {
  background-color: @syntax-selection-color;
}

//
// Handles
//

.bitemHandle, .bselectionHandle {
  pointer-events: all;
  border: 0;
  margin: 0;
  padding: 0;
  min-width: @gutterWidthPerLevel;
  background: none;
  text-align: center;
  user-select: none;
  color: @syntax-invisible-character-color;
}

.bitemHandle:focus, .bselectionHandle:focus {
  outline-color: transparent;
  outline-style: none;
}

.bhasChildren:not(.bexpandedItem) > .bcontent > .bgutter > .bitemHandle {
  color: @syntax-text-color;
}

.bitemHandle::after {
  font-size: @fontSize;
  line-height: @lineHeight;
  font-weight: normal;
  content: "▸"; //▸•
}

//
// Drag and Drop
//

.bdropInsertBeforeItem > .bcontent > .bbody,
.bdropInsertAfterItem > .bcontent > .bbody {
  position: relative;
}

@dropBallRadius: @fontSize / 4;
@dropBallDiameter: @dropBallRadius * 2.0;

.bdropInsertBeforeItem > .bcontent > .bbody::before,
.bdropInsertAfterItem > .bcontent > .bbody::after {
  pointer-events: none;
  display:block;
  position: absolute;
  left: 0;
  right: 0;
  height: @dropBallDiameter;
  margin: -(@itemPadding + @dropBallRadius) 0 0 -@dropBallDiameter;
  content: "";
  // data-uri isn't working since I upated npm... try again later in next update I guess
  //background-image: data-uri('image/svg+xml;charset=UTF-8', 'dropindicator.svg');
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMDByZW0iIGhlaWdodD0iMC41cmVtIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgoJPGcgaWQ9ImRyb3BJbmRpY2F0b3IiPgoJCTxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA3YWZmIiBzdHJva2Utd2lkdGg9IjIiIGN4PSI0IiBjeT0iNCIgcj0iMy4wIiAvPgoJCTxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwN2FmZiIgc3Ryb2tlLXdpZHRoPSIyIiB4MT0iNyIgeTE9IjQiIHgyPSIxMDAwMCIgeTI9IjQiIC8+Cgk8L2c+Cjwvc3ZnPg==);
  background-repeat: no-repeat;
}


.bdropInsertAfterItem > .bcontent > .bbody::after {
  margin: (@itemPadding - @dropBallRadius) 0 0 -@dropBallDiameter;
}

/*
 * Type styling
 */

.bchildren {
  counter-reset:OLCounter 0 HCounter 0;
}

.bitem[data-type="h"] > .bcontent {
  > .bbody {
    font-weight: bold;
    font-size: @fontSize * 1.5;
  }
}

.bitem[data-type="ol"] {
  > .bcontent > .bgutter > .bitemHandle::after {
    counter-increment: OLCounter;
    content: counter(OLCounter, decimal)'.';
  }
  //margin:0 0;
}

.bitem[data-type="ul"] {
  > .bcontent > .bgutter > .bitemHandle::after {
    content: '•';
  }
  //margin:0 0;
}

.bitem[data-type="p"] > .bcontent {
  > .bgutter > .bitemHandle::after {
    content: '¶';
  }
}

.bitem[data-done] > .bcontent > .bbody {
  text-decoration: line-through;
}
