'birch-outline-editor':

  'tab' : 'editor:indent-selected-rows'
  'alt-tab' : 'editor:insert-tab-ignoring-field-editor'
  'shift-tab' : 'editor:outdent-selected-rows'

  'backspace' : 'core:backspace'
  'shift-backspace' : 'core:backspace'
  #'ctrl-backspace' : 'core:backspace-decomposing-previous-character'
  'ctrl-alt-backspace' : 'editor:delete-to-beginning-of-word'
  'alt-backspace' : 'editor:delete-to-beginning-of-word'
  'cmd-backspace' : 'editor:delete-to-beginning-of-line'
  'delete' : 'core:delete'
  'shift-delete' : 'core:delete'
  'alt-delete' : 'editor:delete-to-end-of-word'

  'escape' : 'core:cancel'
  'cmd-.' : 'core:cancel'

  'up' : 'core:move-up'
  'shift-up' : 'core:select-up'
  'ctrl-up' : 'core:scroll-page-up'
  'cmd-up' : 'core:move-to-top'
  'shift-cmd-up' : 'core:select-to-top'
  'alt-up' : 'editor:move-paragraph-backward'
  'shift-alt-up' : 'editor:select-paragraph-backward'

  'down' : 'core:move-down'
  'shift-down' : 'core:select-down'
  'ctrl-down' : 'core:scroll-page-down'
  'cmd-down' : 'core:move-to-bottom'
  'shift-cmd-down' : 'core:select-to-bottom'
  'alt-down' : 'editor:move-paragraph-forward'
  'shift-alt-down' : 'editor:select-paragraph-forward'

  'left' : 'core:move-left'
  'shift-left' : 'core:select-left'
  'ctrl-left' : 'editor:move-to-beginning-of-line'
  'shift-ctrl-left' : 'editor:select-to-beginning-of-line'
  'cmd-left' : 'editor:move-to-beginning-of-line'
  'shift-cmd-left' : 'editor:select-to-beginning-of-line'
  'alt-left' : 'editor:move-to-beginning-of-word'
  'shift-alt-left' : 'editor:select-to-beginning-of-word'

  'right' : 'core:move-right'
  'shift-right' : 'core:select-right'
  'ctrl-right' : 'editor:move-to-end-of-line'
  'shift-ctrl-right' : 'editor:select-to-end-of-line'
  'cmd-right' : 'editor:move-to-end-of-line'
  'shift-cmd-right' : 'editor:select-to-end-of-line'
  'alt-right' : 'editor:move-to-end-of-word'
  'shift-alt-right' : 'editor:select-to-end-of-word'

  'home' : 'editor:scroll-to-top'
  'shift-home' : 'core:select-to-top'
  'end' : 'editor:scroll-to-bottom'
  'shift-end' : 'core:select-to-bottom'

  'pageup' : 'core:scroll-page-up'
  'shift-pageup' : 'core:select-page-up'
  'alt-pageup' : 'core:page-up'
  'pagedown' : 'core:scroll-page-down'
  'shift-pagedown' : 'core:select-page-down'
  'alt-pagedown' : 'core:page-down'

  'cmd-z' : 'core:undo'
  'shift-cmd-z' : 'core:redo'

  'ctrl-o' : 'editor:newline-above'
  'ctrl-l' : 'editor:scroll-to-selection'
  'ctrl-h' : 'core:backspace'
  'ctrl-d' : 'core:delete'
  'ctrl-k' : 'deleteToEndOfParagraph'

  'ctrl-b' : 'core:move-backward'
  'shift-ctrl-B' : 'core:select-backward'

  'ctrl-N' : 'core:move-down'
  'shift-ctrl-N' : 'core:select-down'

  'ctrl-f' : 'core:move-forward'
  'shift-ctrl-F' : 'core:select-forward'
  'ctrl-alt-F' : 'editor:move-to-end-of-word'
  'shift-ctrl-alt-F' : 'editor:select-to-end-of-word'

  'shift-alt-F' : 'moveParagraphForwardAndModifySelection'
  'ctrl-A' : 'moveToBeginningOfParagraph'
  'shift-ctrl-A' : 'moveToBeginningOfParagraphAndModifySelection'
  'ctrl-E' : 'moveToEndOfParagraph'
  'shift-ctrl-E' : 'moveToEndOfParagraphAndModifySelection'
  'ctrl-P' : 'moveUp'
  'shift-ctrl-P' : 'moveUpAndModifySelection'

  'cmd-a' : 'core:select-all'
  'cmd-k cmd-u': 'editor:upper-case'
  'cmd-k cmd-l': 'editor:lower-case'
  'cmd-l': 'editor:select-line'

  'cmd-[' : 'editor:outdent-selected-rows'
  'cmd-]' : 'editor:indent-selected-rows'
  'alt-cmd-[' : 'editor:move-line-up'
  'alt-cmd-]' : 'editor:move-line-down'

  'ctrl-cmd-up' : 'editor:move-line-up'
  'ctrl-cmd-down' : 'editor:move-line-down'
  'ctrl-cmd-left' : 'editor:outdent-selected-rows'
  'ctrl-cmd-right' : 'editor:indent-selected-rows'
  'ctrl-alt-cmd-left' : 'birch-outline-editor:promote-child-items'
  'ctrl-alt-cmd-right' : 'birch-outline-editor:demote-trailing-sibling-items'

'birch-outline-editor.outlineMode':
  'backspace' : 'deleteItemsBackward'
  'delete' : 'deleteItemsForward'